body{
    background:url(https://p.bigstockphoto.com/eIdTXLbqQilMs9xbjvcs_bigstock-Aerial-View-Of-Sandy-Beach-Wit-256330393.jpg)
}

div{
    background:blue;
    border-color:red;
    border-width:100px;
    border-style:dotted;
}

p{
    color:white;
}

span{
    color:black;
}